@import '//fonts.googleapis.com/css?family=Bangers';

html{
    height: 120%;
}

body{
    background: radial-gradient(farthest-corner at 50% 50%, #111111 30%, black 70%) no-repeat 100%;
    /*background: white;*/
    /*margin: 0;*/
    height: 120%;
    overflow: hidden;
    color: white;
    font-family: Bangers;
    font-size: 50px;
    text-align: center;
}

@media only screen and (max-device-width: 480px) {
    body {
        /*font-size: 30px;*/
    }
}

.anonymous {
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    margin: 10% auto;
    background: url(assets/anonymus.svg) no-repeat center center;

    height: 70%;
    z-index: -1;
}

h1, h2 {
    padding: 0;
    margin: 0;
}

.header {
    display: block;
    padding-top: 20%;
    height: 20%;

    opacity: 0;
    animation: fadein ease-in;
    animation-fill-mode: forwards;
    animation-duration: 1s;
    animation-delay: 1s;
}

.content {
    display: block;
    color: red;

    height: 15%;

    opacity: 0;
    animation: fadein ease-in;
    animation-fill-mode: forwards;
    animation-duration: 1s;
    animation-delay: 2s;

}

#qrframe {
    display: inline-block;
    padding: 10px;
    background-color: white;

}

#qrcode {
    display: inline-block;
    /*width: 100%;*/
    /*height: 15%;*/
    /*margin: auto;*/
}

@keyframes fadein {
    0% {opacity: 0;}
    100% {opacity: 1;}
}