@import '//fonts.googleapis.com/css?family=Bangers';

html{
    height: 100%;
}

body{
    /*background: #111111;*/
    background: radial-gradient(farthest-corner at 50% 50%, #111111 30%, black 60%) no-repeat 100%;
    /*margin: 0;*/
    height: 100%;
    overflow: hidden;
    color: white;
    font-family: Bangers;
    font-size: 50px;
    text-align: center;
}

@media only screen and (max-device-width: 480px) {
    body {
        /*font-size: 30%;*/
        font-size: 30px;
    }
}

.anonymous {
    display: inline-block;
    position: absolute;
    left: 0;
    right: 0;
    margin: 100px auto;
    background: url(assets/anonymus.svg) no-repeat center center;

    /*width: 70%;*/
    height: 70%;
    z-index: -1;
}

.header {
    display: block;
    /*margin: 0;*/
    margin-top: 10%;
    height: 15%;
    /*padding: 5%;*/

    opacity: 0;
    animation: fadein ease-in;
    animation-fill-mode: forwards;
    animation-duration: 1s;
    animation-delay: 1s;
}

.countdown {
    display: block;
    color: red;

    /*margin: 0;*/
    height: 15%;
    /*padding: 5%;*/

    opacity: 0;
    animation: fadein ease-in;
    animation-fill-mode: forwards;
    animation-duration: 1s;
    animation-delay: 2s;
}

@keyframes fadein {
    0% {opacity: 0;}
    100% {opacity: 1;}
}